:root {
    --accent: #FB4C47;
    --title: #035755;
    --text: #4B4F51;
}


html {font-size: 100%;} /*16px*/

body {
  font-family: 'Questrial', 'Red Hat Display', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    line-height: 1.3;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block
}

ol {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    background-image: url(/img/illustration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 1061px;
}

@media (min-width: 1500px){
    .main-container {
        max-width: 1440px;
        padding: 0;
    }
}

.header__nav {
    padding-top: 31px;
    margin-bottom: 320px;
}

.nav__item {
    margin-right: 40px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all 300ms ease;
    text-decoration: none;
    
}

.nav__link:hover {
    color: var(--accent);
}

.button {
    padding: 16px 45px;
    background-color: var(--accent);
    border-radius: 65px;
    border: none;
    color: #fff;
}

.nav__button {
    font-size: 1.125em;
    border: 2px solid var(--accent);
    font-weight: 900;
    color: var(--accent);
    background-color: #fff;
}

/* ==============NAV=========== */

.main__title {
    margin-bottom: 29px;
}

.title {
    font-size: 3.125em;
    color: var(--title);
    line-height: 1.3;
    text-transform: capitalize;
}

.title--accent {
    color: var(--accent);
    font-size: 32px;
}

.text {
    color: var(--text);
    font-size: 18px;
    text-transform: capitalize;
    line-height: 2;
}

.main__text {
    margin-bottom: 54px;
}

.main__button {
    font-weight: 700;
    margin-bottom: 207px;
}

/* ==============MAIN=========== */

.about {
    position: relative;
}

.about__picture {
    margin-left: -150px;
}

.about__content {
    padding-left: 50px;
}

.about__button {
    margin-top: 56px;
    font-weight: 700;
    color: var(--accent);
    background-color: rgba(250, 86, 82, 0.15); 
}

.about__text {
    font-size: 1.25em;
    line-height: 2;
}

.about__covid {
    position: absolute;
    bottom: -140px;
    right: -153px;
}

/* ==============ABOUT=========== */

.section-title {
    margin-bottom: 31px;
}

.section-text {
    font-size: 1.125em;
    line-height: 2;
    text-transform: capitalize;
}

.contagion__card {
    margin-top: 111px;
    margin-bottom: 149px;
    position: relative;
}

.contagion__card-item {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
    
    padding: 65px 42px;
}

.card__img {
    margin-bottom: 54px;
}

.card__title {
    color: var(--title);
    margin-bottom: 13px;
}

.card__text {
    color: var(--text);
    font-size: 1.125em;
    text-transform: capitalize;
    line-height: 1.9;
}
.contagion__image {
    position: absolute;

    left: -142px;
    bottom: 18px;
    z-index: -1;
}

/* ==============CONTAGION=========== */

.symptoms__image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 117px;
}

/* ==============SYMPTOMS=========== */


.what {
    background-image: url(/img/path1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.what__item {
    position: relative;
    padding-left: 118px;
    padding-bottom: 50px;
}

.what__item::before {
    content: attr(data-counter);
    color: var(--accent);
    background-color: rgba(254, 230, 229, 1)
    ;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 44px;
    line-height: 1.5;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    left: 3px;
}

.what__item-title {
    font-size: 47px;
    margin-bottom: 20px;
}

.what__item-text {
    font-size: 18px;
}

.row--order:nth-child(even) {
    flex-direction: row-reverse ;
}

/* ==============WHAT=========== */

@media (min-width: 1500px){
    .reports__container {
        max-width: 1530px;
    }
}

.reports {
    margin-bottom: 149px;
}

/* ==============REPORTS=========== */

.subscribe__inner {
    position: relative;
    margin-bottom: 143px;
}

.subscribe__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.2;
    color: #0C6C44;
    border-radius: 50px;
    font-family: 'Questrial';
    margin-bottom: 62px;
}

.input {
    display: flex;
    box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
    border-radius: 57px;
    padding: 18px;

}

.subscribe__form {
    border: none;
    padding: 0 25px;
    width: 100%;
    
}

.subscribe__image {
    position: absolute;
    bottom: -146px;
    right: -487px;
    z-index: -1;
}
.nav__sotial {
}

.sotial__link {
}
.sotial__image {
}